
.titleImage{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 100vw;
    max-width: 600px;
}

.startButton{
    background-image: url(/app/img/brickWallButton.png);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    border: 5px solid black;
    width: 50vw;
    max-width: 300px;
}

.startButton__button{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80%;
}

.main-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 80vw;
    max-width: 300px;
    height: 30vh;
    min-height: 260px;
    border: 20px solid black;
    border-image: url(/app/img/border\ .png) 66 round;
    border-top: none;
    position: relative;
}

.column {
    width: 15%;
    height: 100%;
    border-right: 1px solid black;
}
.column:last-child{
    border-right: none;
}

.row {
    display: flex;
    align-items: center;
    height: 17%;
}

.buttons{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons__redWins{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 20%;
    width: 60%;
    max-width: 160px;
    background-color: red;
    border-radius: 5px;
    padding: 10px;
}
.redWins__redDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.redWins__image{
    width: 40%;
}
.redDiv__button{
    width: 80%;
    padding: 2px;
}
.redDiv__title{
    margin: 0 auto;
    text-align: center;
}

.buttons__greenWins{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 20%;
    width: 60%;
    max-width: 160px;
    background-color: green;
    border-radius: 5px;
    padding: 10px;
}
.greenWins__greenDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90%;
}
.greenWins__image{
    width: 50%;
    height: 100%;
}
.greenDiv__button{
    width: 60%;
    padding: 2px;
}
.greenDiv__title{
    margin: 0 auto;
    text-align: center;
}

.buttons__draw{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 20%;
    width: 60%;
    background-color: gray;
    border-radius: 5px;
    padding: 10px;
}
.drawWins__drawDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.drawWins__image{
    width: 30%;
}
.drawDiv__button{
    width: 50%;
    padding: 3px;
}
.drawDiv__title{
    margin: 0 auto;
}

.blackBall {
    margin: 0 auto;
    background-image: url(/app/img/red\ mushroom.png);
    background-size: cover;
    width: 95%;
    height: 80%;
    animation-name: theFall;
    animation-duration: 0.4s;
    animation-direction: alternate;
    animation-iteration-count: 1;
}

.redBall {
    margin: 0 auto;
    background-image: url(/app/img/green\ mushroom.png);
    background-size: cover;
    width: 95%;
    height: 80%;
    animation-name: theFall;
    animation-duration: 0.4s;
    animation-direction: alternate;
    animation-iteration-count: 1;    
}

.player-banner {
    display: flex;
    max-width: 300px;
    margin: 0 auto;
}

.red-figure, .green-figure {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.red-mushroom, .green-mushroom {
    width: 50%;
    max-width: 80px;
}

#arrow-spot{
    margin: 0 auto;
}
.arrow {
    max-width: 50px;
}


.right {
    animation-name: arrowFlipLeft;
    animation-duration: 0.7s;
    /* animation-direction: alternate; */
}

.left {
    transform: rotate(180deg);
    animation-name: arrowFlipRight;
    animation-duration: 0.7s;
    animation-direction: alternate;
}

.hidden {
    display: none;
}

@media only screen and (min-width: 350px){
    .blackBall{
        height: 80%;
    }

    .redBall{
        height: 80%;
    }
}

@keyframes theFall {
    from {
        transform: translateY(-300px);
    }
    to {
        transform: translateY(-0);
    }
    
}

@keyframes arrowFlipLeft {
    from {
        transform: rotate(-180deg);
        -webkit-transform: rotate(-180deg);
    }
    
    to {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
}

@keyframes arrowFlipRight {
    from {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    
    to {
        transform: rotate(-180deg);
        -webkit-transform: rotate(-180deg);
    }
}
